/*** demo文档样式 ***/
*{margin:0; padding:0;}
a{text-decoration:none;}
img{border:none;}
body{font-family:Microsoft Yahei,Arial,Verdana;font-size:12px;color:#666;text-align:center;line-height:150%;}
.container{width:900px; margin:15px auto; padding:0 15px; text-align:left;}
.container p{color:#777;}
.container span{font-weight:bold; margin-right:5px;}
.container .decs{margin-bottom:10px;}
.container .decs h3{color:#3d7489; font-size:1.3em;}
.container .decs a{float:right; text-decoration:none; color:#275973;}
.container .panel{margin-bottom:10px;}
.container .panel .panel-head{height:30px;}
.container .panel .panel-head h3{color:#777; font-size:18px; line-height:24px;}
.container .panel .panel-body{margin-bottom:10px;}
/*** demo测试样式 ***/
/* 通用 */
ul.test{list-style: none;}
ul.test li a{background:#d5d5d5;}
ul.test li a:hover{background:#bbb;}
/* 外层-父容器 */
.outer{min-height:210px; _height:210px; border:1px dashed #ccc;}
/* 内层-子元素 */
.box{border:1px solid #3a7ea2;}
.block{background-color:#d5d5d5;}
.block1{background-color:#f00; color:#fff;}
.block2{background-color:#0f0; color:#fff;}
.block p{background-color:#6699ff; color:#fff;}